body {
  font-family: 'Inter', sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

h3 {
  margin-top: 30px;
}

label {
  font-size: 16px;
}

.fontfamily1 {
  font-family: Verdana;
}
.fontfamily2 {
  font-family: "Arial Black";
}
.fontfamily3 {
  font-family: Impact;
}
.fontfamily4 {
  font-family: Calibri;
}
.fontfamily5 {
  font-family: "Yusei Magic";
}
.fontfamily6 {
  font-family: Righteous;
}
.fontfamily7 {
  font-family: Pacifico;
}
.fontfamily8 {
  font-family: "Permanent Marker";
}
.fontfamily9 {
  font-family: Sacramento;
}
.fontfamily10 {
  font-family: "Hachi Maru Pop";
}
.fontfamily11 {
  font-family: Monoton;
}
.fontfamily12 {
  font-family: "Zilla Slab Highlight";
}
.fontfamily13 {
  font-family: "Mountanis of Christmas";
}
.fontfamily14 {
  font-family: Frijole;
}
.fontfamily15 {
  font-family: Bonbon;
}
.fontfamily16 {
  font-family: "Kaushan Script";
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  z-index: 2;
}

.input-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color {
  flex-direction: column;
}

.text-container {
  margin-top: 50px;
}

.text-container div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-container div .input {
  flex-direction: column;
}

input[type="color"] {
  height: 35px;
  width: 35px;
  padding: 2px 4px;
  border-radius: 5px;
  border-width: 2px;
}

input[type="color"]:disabled {
  opacity: 0.6;
}

input[type=checkbox] {
  transform: scale(3);
  margin-top: 10px;
  align-self: center;
}

input[type='radio'] { 
  transform: scale(2); 
  height: 14px;
  width: 14px;
}

select, button {
  padding: 10px;
}

.text-color {
  display: flex;
  flex-direction: column;
}

.text-color .input {
  align-items: center;
  width: 150px;
}

.buttons-result {
  text-align: center;
}

.image-container {
  padding: 10px;
  width: 350px;
  height: 350px;
  border: solid 1px black;
  border-radius: 15px;
}

button:disabled{
  background: lightgrey !important;
  border-color: grey !important;
  color: grey !important;
}

button {
  font-family: 'Inter', sans-serif;
  color: #1a535c !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  background: #ffffff;
  margin: 20px 0 30px;
  width: 300px;
  height: 67px;
  padding: 20px;
  border-radius: 15px;
  border: 4px solid #1a535c !important;
  display: inline-block;
  transition: all 0.2s ease 0s;
}

button:hover:enabled {
  color: #ffffff !important;
  font-size: 18px;
  transition: all 0.2s ease 0s;
}

button.draw:hover {
  background: #2ec4b6;
  border-color: #2ec4b6 !important;
}

button.save:hover:enabled {
  background: #1a535c !important;
  border-color: #1a535c !important;
}

button .button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.preload {
  z-index: 1;
  position: fixed;
  margin-top: 50%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: blue;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

footer .card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
  }

  footer{
    flex-wrap: nowrap;
    padding-top: 15px;
    margin-top: 15px;
    justify-content: center;
    gap: 15px
  }

  footer .card{
    margin: 0;
  }
}